@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-[sans-serif];
    }

    :root {
        --form-bg-main: rgba(17, 24, 39, 0.5);
        --form-bg-secondary: rgba(17, 24, 39, 0.2);
    }

    ::-webkit-scrollbar {
        @apply w-2.5 h-2.5;
    }

    ::-webkit-scrollbar-track {
        @apply bg-gray-200;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-fuchsia-600;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-fuchsia-700;
    }

    textarea, input:focus {
        @apply focus:outline-none;
    }

    .ul-padding {
        padding-inline-start: 0.9rem;
    }

    .ul-padding-none {
        padding-inline-start: 0;
    }
}

@layer components {
    .form label {
        @apply block text-gray-200 font-medium;
    }

    .form input {
        @apply w-full h-10 p-2 mb-2 text-slate-50 bg-transparent rounded-lg focus:placeholder-transparent border border-gray-300;
    }

    .form textarea {
        @apply w-full min-h-10 p-2 mb-2 text-slate-50 bg-transparent rounded-lg focus:placeholder-transparent border border-gray-300;
    }

    .form select {
        @apply w-full h-10 p-2 mb-2 text-slate-50 bg-transparent rounded-lg focus:placeholder-transparent border border-gray-300;
    }

    .form select option {
        @apply text-black;
    }

    .pi {
        @apply p-2 mb-2 text-black bg-white rounded text-[0.9rem];
    }

    .profileInput {
        @apply pi file:border-0 file:bg-fuchsia-500 file:text-white file:rounded-sm;
    }

    .flex-col-gap-2 {
        @apply flex flex-col gap-2;
    }

    .flex-wrap-gap-2 {
        @apply flex flex-wrap gap-2;
    }

    .other-input {
        @apply p-2 mb-2 text-black bg-white rounded focus:placeholder-transparent;
    }

    .input-title {
        @apply text-[1rem] text-white font-semibold;
    }

    .f-col {
        @apply flex flex-col;
    }

    .grid-4 {
        @apply grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] gap-4;
    }

    .editable {
        @apply hover:bg-gray-100 hover:cursor-text outline-none;
    }

}

.name {
    font-size: 20px;
    font-weight: 700;
}

.profession {
    font-size: 16px;
    font-weight: 500;
}

.contact {
    font-size: 14px;
    font-weight: 400;
}

.social-media {
    font-size: 12px;
    font-weight: 400;
}

.section-title {
    font-size: 16px;
    font-weight: 700;
}

.content {
    font-size: 14px;
    font-weight: 400;
}

.sub-content {
    font-size: 12px;
    font-weight: 400;
}

.i-bold {
    font-weight: 700 !important;
}

.menu {
    ul, li {
        font-size: 20px;
        color: white;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    li:hover {
        background-color: rgba(23, 0, 92, 0.2);
        color: #fdeeff;
    }
}

@media print {
    .exclude-print {
        display: none;
    }

    .rm-padding-print {
        padding: 0;
    }

    @page {
        size: A4;
        margin: 10mm;
    }

    .preview {
        overflow-y: visible !important;
    }

    .preview::after {
        content: "Created using https://atsresume.vercel.app/";
        position: fixed;
        bottom: 0;
        right: 0;
        opacity: 0.2;
        font-size: small;
        text-align: center;
        z-index: -1;
    }
}
